﻿body
{
    border: 2px solid purple;
    background-color: honeydew;
}
header {
    border-bottom: 2px solid purple;
}
h1 {
    color: darkgray;
}
h2 {
    color: lightsteelblue;
}
footer {
    border-top: 2px solid purple;
}

/* styles for the skins*/
.box {
    width: 11em;
    border: 2px dotted cadetblue;
}
.input {
    width: 10em;
    border: 1px dashed cadetblue;
}
.drop {
    border: 2px dotted cadetblue;
}
.errorMessage {
    color: orange;
}